body{
	/*font-family: 'Georgia', Times, Times New Roman, serif,'Arial', 'Helvetica Neue', Helvetica, sans-serif;*/
		background-image:url("../images/bg4.jpg");

}	



p{
	padding-left: 20px;
	line-height: 30px;
	padding: 10px;
}


.footer{
	margin-top: 0px;
	background-color: #666666;
	color: white;
	text-align: center;
	padding-top: 15px;
	height: 60px;
	width: 100%;
	border-top: 8px;
	border-top-color: #4aaaa5;
	border-top-style: solid;
	position: fixed;
	left: 0;
	bottom: 0;

}

a{
	color: red;

}
a:hover{
	color: blue;
}





/*CSS for portafolio.html*/

.text1{
	color: #ffffff;
	height: 45px;
    width: 250px;
    background-color: #4aaaa5;
    padding: 8px;
    position: absolute;
    bottom: 6%;
   line-height: 45px;
   text-align: center;
    white-space: nowrap;

}*/

.text2{
	color: #ffffff;
	height: 45px;
    width: 234px;
    background-color: #4aaaa5;
    padding: 8px;
    position: absolute;
    white-space: nowrap;
    line-height: 45px;
    text-align: center;
    bottom: 6%;
    right: -0.5%;
}

.text3{
	color: #ffffff;
	height: 45px;
    width: 234px;
    background-color: #4aaaa5;
    padding: 8px;
    position: absolute;
    white-space: nowrap;
    line-height: 45px;
    text-align: center;
    bottom: 6%;
    right: -0.5%;
}

.text4{
	color: #ffffff;
	height: 45px;
    width: 234px;
    background-color: #4aaaa5;
    padding: 8px;
    position: absolute;
    white-space: nowrap;
    line-height: 45px;
    text-align: center;
    bottom: 6%;
    right: -0.5%;
}


.text5{
	color: #ffffff;
	height: 45px;
    width: 234px;
    background-color: #4aaaa5;
    padding: 8px;
    position: absolute;
    white-space: nowrap;
    line-height: 45px;
    text-align: center;
    bottom: 6%;
    right: -0.5%;
}



.text6{
	color: #ffffff;
	height: 45px;
    width: 234px;
    background-color: #4aaaa5;
    padding: 8px;
    position: absolute;
    white-space: nowrap;
    line-height: 45px;
    text-align: center;
    bottom: 6%;
    right: -0.5%;
}

.text1:hover{
	color: black;
}
.text2:hover{
	color: black;
}
.text3:hover{
	color: black;
}.text4:hover{
	color: black;
}.text5:hover{
	color: black;
}.text6:hover{
	color: black;
}