body{
	/*font-family: 'Georgia', Times, Times New Roman, serif,'Arial', 'Helvetica Neue', Helvetica, sans-serif;*/
		background-image:url("../images/bg4.jpg");

}	



p{
	padding-left: 20px;
	line-height: 30px;
	padding: 10px;
}


.footer{
	margin-top: 0px;
	background-color: #666666;
	color: white;
	text-align: center;
	padding-top: 15px;
	height: 60px;
	width: 100%;
	border-top: 8px;
	border-top-color: #4aaaa5;
	border-top-style: solid;
	position: fixed;
	left: 0;
	bottom: 0;

}

a{
	color: red;

}
a:hover{
	color: blue;
}

